.g-slogan {
	position: absolute;
	padding: 0 20px;
	width: 100%;
	top: 34%;

	.slogan-heading {
		font-size: 2*@gap;
		line-height: 1.05em;
		font-family: frutiger-light;
		color: @black;
	}
}

@media screen and (orientation: landscape) {
	.g-slogan {
		top: 30%;
	}
}

@media screen and (min-width: @bp-md-2) {
	.g-slogan {
		padding: 0 40px;
	}
}


/* Portrait */
@media screen and (min-width: @bp-xss-2) and (orientation: portrait) {
	.g-slogan {
		.slogan-heading {
			font-size: 2.5 * @gap;
		}
	}
}

@media screen and (min-width: @bp-xs-min) and (orientation: portrait) {
	.g-slogan {
		.slogan-heading {
			font-size: 3*@gap;
		}
	}
}

@media screen and (min-width: @bp-xs-2) and (orientation: portrait) {
	.g-slogan {
		.slogan-heading {
			font-size: 4*@gap;
		}
	}
}

@media screen and (min-width: @bp-md-min) and (orientation: portrait) {
	.g-slogan {
		.slogan-heading {
			font-size: 5*@gap;
		}
	}
}

@media screen and (min-width: @bp-md-2) and (orientation: portrait) {
	.g-slogan {
		.slogan-heading {
			font-size: 6*@gap;
		}
	}
}

@media screen and (min-width: @bp-xl-min) and (orientation: portrait) {
	.g-slogan {
		.slogan-heading {
			font-size: 8*@gap;
		}
	}
}


/* Landscape */
@media screen and (min-width: @bp-sm-min) and (orientation: landscape) {
	.g-slogan {
		.slogan-heading {
			font-size: 3*@gap;
		}
	}
}

@media screen and (min-width: @bp-md-min) and (orientation: landscape) {
	.g-slogan {
		.slogan-heading {
			font-size: 4*@gap;
		}
	}
}

@media screen and (min-width: @bp-lg-min) and (orientation: landscape) {
	.g-slogan {
		.slogan-heading {
			font-size: 5*@gap;
		}
	}
}

@media screen and (min-width: @bp-xl-2) and (orientation: landscape) {
	.g-slogan {
		.slogan-heading {
			font-size: 7*@gap;
		}
	}
}
