.g-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0 @gap @gap @gap;

	.footer-tile {
		width: 24px;
	}

	.footer-pseudo {
		&:after {
			// force text align justify to work
			content: '';
			display: inline-block;
			width: 100%;
		}
	}
}

/* Portrait */
@media screen and (min-width: @bp-xs-min) and (orientation: portrait) {
	.g-footer {
		.footer-tile {
			width: 36px;
		}
	}
}

@media screen and (min-width: @bp-xs-2)  and (orientation: portrait) {
	.g-footer {
		.footer-tile {
			width: 48px;
		}
	}
}

@media screen and (min-width: @bp-sm-min) and (orientation: portrait) {
	.g-footer {
		.footer-tile {
			width: 64px;
		}
	}
}

/* Landscape */
@media screen and (min-width: @bp-xs-min) and (orientation: landscape) {
	.g-footer {
		.footer-tile {
			width: 36px;
		}
	}
}

@media screen and (min-width: @bp-xs-2) and (orientation: landscape) {
	.g-footer {
		.footer-tile {
			width: 48px;
		}
	}
}

@media screen and (min-width: @bp-lg-min) and (orientation: landscape) {
	.g-footer {
		.footer-tile {
			width: 72px;
		}
	}
}


