<footer class="g-footer row-justify">
	<span class="footer-pseudo">
	<img class="col-justify footer-tile" src="/img/locked.svg">
	<img class="col-justify footer-tile" src="/img/account.svg">
	<img class="col-justify footer-tile" src="/img/markets.svg">
	<img class="col-justify footer-tile" src="/img/card-account.svg">
	<img class="col-justify footer-tile" src="/img/account-transfer.svg">
	<img class="col-justify footer-tile" src="/img/custody-accounts.svg">
	<img class="col-justify footer-tile" src="/img/news.svg">
	<img class="col-justify footer-tile" src="/img/callback.svg">
	</span>
</footer>