<footer class="g-footer row-justify">
	<div class="col-justify footer-tile">
		<img class="footer-tile-image" src="/img/locked.svg">
	</div>
	<div class="col-justify footer-tile">
		<img class="footer-tile-image" src="/img/account.svg">
	</div>
	<div class="col-justify footer-tile">
		<img class="footer-tile-image" src="/img/markets.svg">
	</div>
	<div class="col-justify footer-tile">
		<img class="footer-tile-image" src="/img/card-account.svg">
	</div>
	<div class="col-justify footer-tile">
		<img class="footer-tile-image" src="/img/account-transfer.svg">
	</div>
	<div class="col-justify footer-tile">
		<img class="footer-tile-image" src="/img/custody-accounts.svg">
	</div>
	<div class="col-justify footer-tile">
		<img class="footer-tile-image" src="/img/news.svg">
	</div>
	<div class="col-justify footer-tile">
		<img class="footer-tile-image" src="/img/callback.svg">
	</div>
</footer>