<footer class="g-footer row-justify">
	<span class="footer-pseudo">
	<img class="col-justify footer-tile" src="/img/moneypile.svg">
	<img class="col-justify footer-tile" src="/img/cards.svg">
	<img class="col-justify footer-tile" src="/img/chart.svg">
	<img class="col-justify footer-tile" src="/img/transactions.svg">
	<img class="col-justify footer-tile" src="/img/trading.svg">
	<img class="col-justify footer-tile" src="/img/globe.svg">
	<img class="col-justify footer-tile" src="/img/alert.svg">
	<img class="col-justify footer-tile" src="/img/lock.svg">
	</span>
</footer>
