.e-logo {
	display: block;
	height: 2*@gap;
	.box-sizing(content-box);
	padding: @gap @gap;
}

@media screen and (min-width: @bp-xs-2) {
	.e-logo {
		height: 5*@gap;
	}
}

@media screen and (min-width: @bp-sm-min) {
	.e-logo {
		height: 4*@gap;
	}
}

@media screen and (min-width: @bp-md-min) {
	.e-logo {
		height: 5*@gap;
	}
}

@media screen and (min-width: @bp-lg-min) {
	.e-logo {
		height: 6*@gap;
	}
}