.e-logo {
	display: block;
	height: 2*@gap;
	.box-sizing(content-box);
	padding: 50px 20px;
}

@media screen and (orientation: landscape) {
	.e-logo {
		padding-top: 25px;
	}
}

@media screen and (min-width: @bp-md-2) {
	.e-logo {
		padding-left: 40px;
		padding-right: 40px;
	}
}


/* Portrait */
@media screen and (min-width: @bp-xss-2) and (orientation: portrait) {
	.e-logo {
			height: 2.5 * @gap;
	}
}

@media screen and (min-width: @bp-xs-min) and (orientation: portrait) {
	.e-logo {
		height: 3*@gap;
	}
}

@media screen and (min-width: @bp-xs-2) and (orientation: portrait) {
	.e-logo {
		height: 4*@gap;
	}
}

@media screen and (min-width: @bp-md-min) and (orientation: portrait) {
	.e-logo {
		height: 5*@gap;
	}
}

@media screen and (min-width: @bp-md-2) and (orientation: portrait) {
	.e-logo {
		height: 6*@gap;
	}
}

@media screen and (min-width: @bp-xl-min) and (orientation: portrait) {
	.e-logo {
		height: 8*@gap;
	}
}

/* Landscape */
@media screen and (min-width: @bp-sm-min) and (orientation: landscape) {
	.e-logo {
		height: 3*@gap;
	}
}

@media screen and (min-width: @bp-md-min) and (orientation: landscape) {
	.e-logo {
		height: 4*@gap;
	}
}

@media screen and (min-width: @bp-lg-min) and (orientation: landscape) {
	.e-logo {
		height: 5*@gap;
		padding-top: 40px;
	}
}

@media screen and (min-width: @bp-xl-2) and (orientation: landscape) {
	.e-logo {
		height: 7*@gap;
	}
}
